body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
    margin: 0;
    padding: 20px;
    .cabecalho {
        background-color: rgb(153, 134, 104);
        display: flex;
        justify-content: center;
        max-width: 100%;
        max-height: 130px;
        h4{
            font-family: fantasy;
            font-size: 40px;
            align-items: center;
        }
    }
}
.album {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #343a40;
}
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: calc(33.333% - 20px);
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 100%;
    max-height: 440px;
    height: auto;
    border-bottom: 5px solid rgb(153, 134, 104);
}
.card-body {
    padding: 20px;
    text-align: center;
}
.card-body p {
    color: #6c757d;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(153, 134, 104);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}
.btn:hover {
    background-color: rgb(153, 134, 104);
}
@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}
@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}
footer {
    background-color: rgb(153, 134, 104);
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}