$background-color: blanchedalmond;
$text-color: rgb(153, 134, 104);
$secondary-text-color: #000000;
$card-background: #c7c7c7;
$border-color: #c7c7c7;
$btn-primary-color: #ffc977;
$btn-secondary-color: #6c757d;
$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
$card-border-radius: 8px;
$btn-border-radius: 4px;
